<?php
// header lines for information
define("HEADER_CAT","FM-Relais");
define("HEADER_QTH","Somewhere JO01AA");
define("HEADER_QRG","439.000 MHz");
define("HEADER_SYSOP","Sysop: DL1ABC");
define("FMNETWORK_EXTRA","");
// define("EL_NODE_NR","123456");
define("FULLACCESS_OUTSIDE", 0);
//
// Button keys define: description button, DTMF command or command, color of button
//
// DTMF keys
// syntax: 'KEY number,'Description','DTMF code','color button'.
//
define("KEY1", array(' D1 ','*D1#','green'));
define("KEY2", array(' D2 ','*D2#','orange'));
define("KEY3", array(' D3 ','*D3#','orange'));
define("KEY4", array(' D4 ','*D4#','orange'));
define("KEY5", array(' D5', '*D5#','purple'));
// additional DTMF keys
define("KEY6", array(' D6 ','*D6#','purple'));
define("KEY7", array(' D7 ','*D7#','purple'));
define("KEY8", array(' D8 ','*D8#','blue'));
define("KEY9", array(' D9 ','*D9#','blue'));
define("KEY10", array(' D10 ','*D10#','red'));
?>
